JaygahSystem/Service References/ServiceReference2/SendService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Models" />
      <xsd:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMSPanel.Common.Enums" />
      <xsd:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISendService_SendSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="ISendService_SendSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetDeilvery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeilvery" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetDeilvery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeilveryResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetInboxCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboxCount" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetInboxCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboxCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_SendBatchSms_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBatchSms" />
  </wsdl:message>
  <wsdl:message name="ISendService_SendBatchSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBatchSmsResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetBatchDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchDelivery" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetBatchDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetSenderNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSenderNumbers" />
  </wsdl:message>
  <wsdl:message name="ISendService_GetSenderNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSenderNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISendService">
    <wsdl:operation name="SendSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/SendSMS" message="tns:ISendService_SendSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/SendSMSResponse" message="tns:ISendService_SendSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/GetCredit" message="tns:ISendService_GetCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/GetCreditResponse" message="tns:ISendService_GetCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeilvery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/GetDeilvery" message="tns:ISendService_GetDeilvery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/GetDeilveryResponse" message="tns:ISendService_GetDeilvery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/GetMessages" message="tns:ISendService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/GetMessagesResponse" message="tns:ISendService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/GetInboxCount" message="tns:ISendService_GetInboxCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/GetInboxCountResponse" message="tns:ISendService_GetInboxCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBatchSms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/SendBatchSms" message="tns:ISendService_SendBatchSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/SendBatchSmsResponse" message="tns:ISendService_SendBatchSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/GetBatchDelivery" message="tns:ISendService_GetBatchDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/GetBatchDeliveryResponse" message="tns:ISendService_GetBatchDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSenderNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendService/GetSenderNumbers" message="tns:ISendService_GetSenderNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendService/GetSenderNumbersResponse" message="tns:ISendService_GetSenderNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISendService" type="tns:ISendService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/ISendService/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/ISendService/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeilvery">
      <soap:operation soapAction="http://tempuri.org/ISendService/GetDeilvery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/ISendService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <soap:operation soapAction="http://tempuri.org/ISendService/GetInboxCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBatchSms">
      <soap:operation soapAction="http://tempuri.org/ISendService/SendBatchSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchDelivery">
      <soap:operation soapAction="http://tempuri.org/ISendService/GetBatchDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSenderNumbers">
      <soap:operation soapAction="http://tempuri.org/ISendService/GetSenderNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendService">
    <wsdl:port name="BasicHttpBinding_ISendService" binding="tns:BasicHttpBinding_ISendService">
      <soap:address location="http://www.payamak-service.ir/SendService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>