JaygahSystem/Service References/ServiceReference2/SendService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMSPanel.Common.Enums" />
  <xs:import schemaLocation="http://www.payamak-service.ir/SendService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Enums" />
  <xs:complexType name="ArrayOfMessageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageInfo" nillable="true" type="tns:MessageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageInfo" nillable="true" type="tns:ArrayOfMessageInfo" />
  <xs:complexType name="MessageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flash" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMSPanel.Common.Enums" minOccurs="0" name="Lang" type="q1:SMSLang" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Enums" minOccurs="0" name="MessageType" type="q2:SMSDirectionType" />
      <xs:element minOccurs="0" name="MoneyIsRefunded" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotSent" type="xs:int" />
      <xs:element minOccurs="0" name="Pages" type="xs:int" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sent" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMSPanel.Domain.Enums" minOccurs="0" name="Status" type="q3:SMSStatus" />
      <xs:element minOccurs="0" name="Tariff" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageInfo" nillable="true" type="tns:MessageInfo" />
</xs:schema>